<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Profile</h2>
        <h3 class="section-subheading text-muted">This page allows you to view your user profile.</h3>
    </div>
</div>
<!-- Heading -->

<div class="panel panel-info">

    <!-- Default panel contents -->
    <div class="panel-heading" style="text-align: center;"><strong>User Profile</strong></div>

    <!-- Table -->
    <table class="table">
        <tr>
            <td><strong>Username</strong></td>
            <td><strong>Email Address</strong></td>
            <td><strong>Password</strong></td>
        </tr>
        <tr>
            <td>{{ main.username }}</td>
            <td>{{ main.useremail }}</td>
            <td>****************</td>
        </tr>
    </table>
</div>

<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Books</h2>
        <h3 class="section-subheading text-muted">This page also allows you to view your added books.</h3>
    </div>
</div>
<!-- Heading -->

<div class="panel panel-info">

    <!-- Default panel contents -->
    <div class="panel-heading" style="text-align: center;"><strong>Books</strong></div>

    <!-- Table -->
    <table class="table">
        <tr>
            <td><strong>Title</strong></td>
            <td><strong>Description</strong></td>
            <td><strong>Created At</strong></td>
            <td><strong>Updated At</strong></td>
        </tr>
        <tr ng-repeat="book in books.books">
            <td> <span ng-hide="books.array_books[$index].editing">{{ books.array_books[$index].title}}</span>
                <input ng-show="books.array_books[$index].editing" ng-model="updateData.title" autofocus />
            </td>
            <td> <span ng-hide="books.array_books[$index].editing">{{ books.array_books[$index].desc}}</span>
                <input ng-show="books.array_books[$index].editing" ng-model="updateData.desc" autofocus />
            </td>
            <td>{{ book.createdAt }}</td>
            <td>{{ book.updatedAt }}</td>
            <td>
                <a href="" ng-click="books.doDeletion(book._id);" class="btn btn-primary">Delete</a>
                <a href="" type="button" ng-hide="books.array_books[$index].editing" ng-click="editItem(books.array_books[$index], book._id)" class="btn btn-primary">Edit</a>
                <a href="" ng-click="books.doUpdate(book._id)" ng-show="books.array_books[$index].editing" class="btn btn-info">Update</a>
            </td>
        </tr>

    </table>
</div>